body{
    background: rgba(133, 122, 173, 0.708);
    font: normal 15pt arial;
    }
    
    
    header{
    color: white;
    text-align: center;
    }
    section{
    background: white;
    border-radius: 10 px;
    padding: 15px;
    width: 710px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    
    
    }
    
    footer{
    color:white;
    text-align: center;
    font-style: italic;
    }
    
    div{
        text-align: center;
        padding: 8px;
    }
    div id.{
        left: 50%;
    }
    
    img.id{
        left: auto;
    }